
@keyframes pulse {  

    0% {
        box-shadow: 0 0 0 rgba($primary, 1);
        transform: scale(1);
    }

    30% {
        box-shadow: 0 0 50px rgba($primary, 1);
        transform: scale(1.1);
    }

    60% {
        box-shadow: 0 0 100px rgba($primary, 1);
        transform: scale(1);
    }

    90% {
        box-shadow: 0 0 150px rgba($primary, 1);
        transform: scale(1.1);
    }
}