@charset "UTF-8";

html {
    box-sizing: border-box;
    font-size: 10px;
    color: $black;
    scroll-behavior: smooth;
}

body {    
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;    
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
}


