
@import "./normalize";
@import "./variables";
@import "./core";
@import "./utils";

@import "./blocks/intro";
@import "./blocks/contacts";
@import "./blocks/services";
@import "./blocks/advantages";
@import "./blocks/about";
@import "./blocks/prices";
@import "./blocks/stages";
@import "./blocks/works";
@import "./blocks/comments";
@import "./blocks/calculator";


@import "./blocks/footer";
