
@import "./normalize";
@import "./variables";
@import "./core";
@import "./mixins";
@import "./utils";
@import "./animation";

@import "./blocks/intro";
@import "./blocks/contacts";
@import "./blocks/services";
@import "./blocks/advantages";
@import "./blocks/about";
@import "./blocks/prices";
@import "./blocks/stages";
@import "./blocks/slider";
@import "./blocks/works";
@import "./blocks/comments";
@import "./blocks/calculator";
@import "./blocks/footer";




