
@import "./normalize";
@import "./variables";
@import "./core";
@import "./mixins";
@import "./utils";
@import "./animation";

@import "./blocks/intro";
@import "./blocks/navigation";
@import "./blocks/contacts";
@import "./blocks/services";
@import "./blocks/advantages";
@import "./blocks/about";
@import "./blocks/prices";
@import "./blocks/stages";

@import "./blocks/works";
@import "./blocks/comments";
@import "./blocks/footer";

@import "./pages/price-clean";

@import "./elements/before-after";
@import "./elements/slider";




