.section__heading {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.section__heading--top {
    margin-top: 47px;
}

.section__row {
    margin: 10px 0 30px 0;
}

.section__icon {
    position: relative; 

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;        
        background-color: $primary;
        width: 50px;
        height: 3px;
    } 

    &::before {
        left: -66px;
    }

    &::after {
        left: 66px;
    }
}

.section__svg {
    width: 51px;
    height: 51px;
    fill: $primary;  
    position: relative;  
}

@media screen and (max-width: 576px) {

    .section__heading { margin-top: 20px; }
    
    .section__row { margin: 10px 0; }    
} 