.section__heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 47px;
    text-align: center;
}

.section__row {
    margin-bottom: 75px;
}

.section__icon {
    position: relative; 

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;        
        background-color: $primary;
        width: 50px;
        height: 3px;
    } 

    &::before {
        left: -66px;
    }

    &::after {
        left: 66px;
    }
}

.section__svg {
    width: 51px;
    height: 51px;
    fill: $primary;  
    position: relative; 

    
}