.section__heading {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.section__subheading {
    font-size: 20px;
    font-weight: 700;
}

.section__row { margin-bottom: 100px; }

.section__bubble { margin-bottom: 50px; }

.section__icon {
    position: relative;
    margin-bottom: 4rem;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;        
        background-color: $primary;
        width: 50px;
        height: 3px;
    } 

    &::before {
        left: -66px;
    }

    &::after {
        left: 66px;
    }
}

.section__svg {
    width: 51px;
    height: 51px;
    fill: $primary;  
    position: relative;
}

.section__btn {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 10px;
    transition: all .3s;
    border: 3px solid $primary;
    box-shadow: 5px 5px 15px rgba($primary, 0.3);

    &--primary {
        color: $white;
        background-color: $primary;

        &:hover {
            background-color: $white;
            color: $primary;
        }
    }

    &--secondary {

        background-color: $white;
        color: $primary;

        &:hover {
            color: $white;
            background-color: $primary;
        }
    }

    &--main {

        background-color: transparent;
        color: $primary;

        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
}

@media screen and (max-width: 576px) {

    .section__heading { margin-top: 20px; }

    .section__row { margin: 10px 0; }
}