
.calculator__heading {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 22px;
}

.calculator__row {
    display: flex;
    margin-bottom: 30px;
}

.calculator__option {
    width: 50%;
    font-size: 17px;
    font-weight: 700;
    color: $white;
    background-color: $primary;
    display: flex;
    align-items: center;
}

.calculator__select {
    width: 50%;
    font-weight: 700;
    font-size: 16px;

    &--text {
        font-weight: 700;
    }
}

.calculator__input {
    width: 50%;
    font-weight: 700;
    font-size: 16px;
    padding-left: 5px;
}

.calculator-item {
    cursor: pointer;   
    margin-bottom: 15px;
}

.calculator-card {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid $primary;
    padding: 12px 15px;
}

.calculator-card__img {
    width: 100%;
    height: 70px;
}

.calculator-card__title {
    //height: 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.calculator-card__name { 
    font-size: 15px;
    font-weight: 500;
}

.calculator-card__price {
    color: $primary;
    font-size: 17px;
    font-weight: 700;
}

.calculator-all {
    margin: 66px 0;
    border: 2px solid $black;
    width: 400px;
    padding: 7px 20px;
    align-self: flex-start;
}

.calculator-all__list {
    margin-bottom: 100px;

    &--bordered {
        border-bottom: 3px solid $black;
        margin-bottom: 0;
    }
}

.calculator-all__title {
    font-size: 16px;
    font-weight: 700;
}

.calculator-all__price {
    font-size: 14px;
    font-weight: 500;
}

.calculator-all__btn {
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    color: $white;
    background-color: $primary;
    margin-bottom: 10px;
}

.calculator-stages {
    display: block;
    width: 400px;
}

.calculator-stages__block {
    position: relative;
    max-width: 65px;
    height: 65px;
    border: 3px solid $primary;
    border-radius: 50%;

    &::after {
        position: absolute;
        content: "";
        width: 3px;
        top: 100%;
        left: 50%;
        height: 50px;
        background-color: $primary;
    }

    &--20 {
       
        &::after {
            height: 20px;
        } 
    }

    &--0 {
       
        &::after {
            height: 0;
        } 
    }

}

.calculator-stages__number {
    position: absolute;
    font-size: 35px;
    color: $primary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator-stages__text {
    font-size: 14px;
    font-weight: 500;
}
