.about__btn {
    border: 1px solid $primary;
    font-size: 16px;
    font-weight: 700;
    transition: all .3s;
    border-radius: 0;
    border-right: 0;

    &:first-child {
        border-radius: 5px 0 0 5px;
    }

    &:last-child {
        border-right: 1px solid $primary;
        border-radius: 0 5px 5px 0;
    }

    &:hover {
        color: $white;
        background-color: $primary;
    }

    &--active {
        background-color: $primary;
        color: $white;
    }

    @media (max-width: 768px) {
        border-right: 1px solid $primary;
        border-bottom: 0;

        &:first-child {
            border-radius: 0;
        }

        &:last-child {
            border-radius: 0;
            border-bottom: 1px solid $primary;
        }
    }
}

.about__img {
    width: 100%;
    height: 90%;
    border-radius: 5px;
}