.advantages-row {
    margin-bottom: 35px;
}

.advantages-cell {
    display: flex;
    align-items: center;
}

.advantages-cell__icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.advantages-cell__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

@media screen and (max-width: 576px) {

    .advantages-row {
        margin-bottom: 0;
    }

    .advantages-cell {
        margin-bottom: 15px;
    }
} 