
.comments { margin-bottom: 121px; }

.comments__row {position: relative; }

.comments__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 37px;
}

.comments__img {
    border-radius: 10px;
}

@media (max-width: 992px) {
    .comments__img { width: 600px; }
}

@media (max-width: 768px) {
    .comments { margin-bottom: 20px; }

    .comments__img { width: 450px; }
}

@media (max-width: 450px) {
    .comments__img { width: 300px; }
}