
.comments {
    margin-bottom: 121px;
}

.comments__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.comments_heading {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
}

.comments_text {
    margin-bottom: 37px;
    font-size: 12px;
}

.comments-star__list {
    display: flex;
    justify-content: center;
}

#star {
    stroke: none;
    fill: #FFDD55;
}