.footer {
    background-color: $primary;
    color: $white;
}

.footer__contacts {
    padding: 20px;
}

.footer__heading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 34px;
}

.footer__subheading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}

.footer__text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 16px;

    &--last {
        margin-bottom: 65px;
    }
}

.footer__form {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.form-control {
    margin-bottom: 11px;
}

.form__box {
    width: 400px;
}

.form__button {
    background-color: $white;
    padding: 11px 23px;
    font-weight: 700;
    box-shadow: 3px 3px 20px rgba($black, 0.3);
}