.intro {
    background-image: url('../../img/main.jpg');
    background-size: cover;
}

.header__logo {
    width: 145px;
    height: 180px;
}

.header__phone {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: $white;
}

.header-contacts__item {
    padding: 2px;
    width: 45px;
    height: 45px; 
    border-radius: 50%;
    background-color: $white;
    position: relative;
}

.header-contacts__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-contacts__icon {
    font-size: 30px;
}

.intro__heading {
    font-size: 63px;
    font-weight: 700;
}

.heading-container {
    margin-top: 118px;
}

.intro__subheading {
    font-size: 18px;
    font-weight: 500;
}

.subheading-container {
    margin-top: 10px;
}

.intro__btn {
    margin-top: 66px;
    margin-bottom: 235px;
    background-color: $primary;
    padding: 11px 51px;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
}