.intro {
    background-image: url('../../img/main.jpg');
    background-size: cover;
    clip-path: polygon(100% 0, 0 0, 0 95%, 40% 95%, 50% 100%, 60% 95%, 100% 95%);
}

.header__logo {
    width: 145px;
    height: 180px;
}

.header__phone {
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: $primary;
}

.intro__heading {
    font-size: 63px;
    font-weight: 700;
}

.heading-container {
    margin-top: 118px;
}

.intro__subheading {
    font-size: 18px;
    font-weight: 500;
}

.subheading-container {
    margin-top: 10px;
}

.intro__btn {
    margin-top: 66px;
    margin-bottom: 235px;
    background-color: transparent;
}

.calculator-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid $white;
    background-color: $primary;
    position: fixed;
    top: 50%;
    right: 40px;
    z-index: 10;
    cursor: pointer;
    animation: pulse 1.5s linear infinite;
}

.calculator-button__img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 576px) {

    .heading-container { margin-top: 20px; } 
    
    .intro__btn {
        margin-top: 25px;
        margin-bottom: 70px;
    }

    .header__img {
        text-align: center;
        margin-bottom: 15px;
    }

    .header__phone {
        text-align: center;
        margin-bottom: 15px;
    }
} 