.intro {
    background-image: url('../../img/main.jpg');
    background-size: cover;
}

.header__logo {
    width: 145px;
    height: 180px;
}

.header__phone {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: $white;
}

.intro__heading {
    font-size: 63px;
    font-weight: 700;
}

.heading-container {
    margin-top: 118px;
}

.intro__subheading {
    font-size: 18px;
    font-weight: 500;
}

.subheading-container {
    margin-top: 10px;
}

.intro__btn {
    margin-top: 66px;
    margin-bottom: 235px;
    background-color: $primary;
    padding: 11px 51px;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
}