
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;

    &--calculator {
        margin-bottom: 20px;
    }
}

.navigation__img {
    display: block;
    text-align: center;
}

.navigation__logo {
    width: 145px;
    height: 180px;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.navigation__link {
    color: $white;
    background-color: $primary;
    font-size: 16px;
    font-weight: 700;
    margin: 0 10px 10px 0;

    &:hover {
        transform: scale(1.1);
    }
}

.navigation-price__link {
    margin: 0 10px 10px 0;
}

.navigation__phone {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: $white;

    &--primary {
        color: $primary; 
    }
}

.navigation__box {
    text-align: center;
}

.navigation__box-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {

    .navigation__phone {
        font-size: 25px;
    }
}

@media screen and (max-width: 992px) {

    .navigation__link { padding: 10px 15px }
    .navigation__phone {
        color: $primary;
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {

    .navigation__img { margin-bottom: 15px; }

}

@media screen and (max-width: 576px) {

}
