
.table {
    margin: 30px 0;
}

.price-dry {
    padding: 30px 0; 
}

.price-dry__heading {
    font-size: 36px;
    font-weight: 700;
}

.price-dry__note {
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 500;
}

.table th {
    color: $primary;
    font-size: 25px;
}

.table-bordered td, .table-bordered th { border: 3px solid $primary; }

.table__bold {
    font-weight: 700;
}