.prices-card {
    padding: 20px;
    border: 3px solid $primary;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba($black, 0.2);

}

.prices-card__heading {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 13px;
}

.prices-card-switch {
    position: relative;
    border: 1px solid $primary;
    box-shadow: 4px 4px 10px rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    height: 50px;
    background-color: $primary;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 17px;
}

.prices-card-switch__input {
    position: relative;
    appearance: none;
    outline:none;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    transition:.25s -.1s;    

    &:before, &:after {
        z-index:2;
        position: absolute;
        top:50%;
        transform:translateY(-50%);
        color:$black;
        font-weight: 700;
        cursor: pointer;
    }

    &:before {
        content: 'КОЖА';
        left:20px;
    }
    &:after {
        content: 'ТКАНЬ';
        right:20px;
    }

    &:not(:checked) {
        background-color:$primary;

        &:before {
            color:$primary;
            transition: color .5s .2s;
        }

        &:after {
            color: $white;
            transition: color .5s;
        }

        &+label {
            left:10px;
            right:100px;
            background:$white;
            transition: left .5s, right .4s .2s;
        }
    }

    &:checked {
        background:$primary;
        transition: background .5s -.1s;

        &:before {
           color:$white;
           transition: color .5s;
        }

        &:after {
           color:$primary;
           transition: color .5s .2s;
        }

        &+label {
           left:100px;
           right:10px;           
           background:$white;           
           transition: left .4s .2s, right .5s, background .35s -.1s;
        }
    }
}

.prices-card-switch__label {
    z-index:1;
    position: absolute;
    top:10px;
    bottom:5px;
    border-radius:20px;     
}

.prices-card__select {
    padding: 5px;
    border: 3px solid $primary;
    width: 100%;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 5px 5px 15px rgba($black, 0.2);
}

.prices-card__img {
    width: 200px;
    height: 200px;
    margin-bottom: 16px;

    & img {
        object-fit: cover;
    }
}

.prices-card__price {
    align-self: flex-end;
    font-size: 36px;
    font-weight: 700;
    color: $primary;
}