.services {
    padding: 32px 41px;
    box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: 0.3);
}

.services-card {   
    border: none;
    align-items: center;    
}

.services-card__img {
    width: 51px;
    height: 51px;
    margin-bottom: 19px;
}

.services-card__heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.services-card-row {
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;

    &__text {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

.services-card__button {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    padding: 13px 30px;
    background-color: $primary;
    margin-top: 28px;
    letter-spacing: 4px;
    box-shadow: 5px 8px 15px rgba($black, 0.4);
    transition: all .3s;

    &:hover {
        transform: scale(1.1);
        color: $white;
    }
}

@media screen and (max-width: 576px) {

    .services {
        margin-bottom: 15px;
    }
}