.works__btn {
    background-color: $primary;
    color:$white;
    padding: 18px 59px;
    font-size: 24px;
    font-weight: 500;
}

.works__img {    
    overflow: hidden;
}

.works-slider {
    min-width: 0;
    position: relative;
    padding: 0 50px;
}

.works-slider__item {
    cursor: pointer;
    text-align: center;
}