.works__btn {
    background-color: $primary;
    color:$white;
    padding: 18px 59px;
    font-size: 24px;
    font-weight: 500;
}

.works__img {    
    overflow: hidden;

    .handle {
        background: rgba(16,152,247,.5);
        &:after {
            background-color: #1098F7;
            border-color: #1098F7;
            box-shadow: 0 2px 6px rgba(0,0,0,.3), inset 0 2px 0 rgba(255,255,255,.5), inset 0 60px 50px -30px #1098F7;
        }
    }
}

.works-slider {
    min-width: 0;
    position: relative;
    padding: 0 50px;
}

.works-slider__item {
    cursor: pointer;
    text-align: center;
}